html {
    font-size: 20px;
    font-family: 'Dancing Script', sans-serif;
    background-color: #c7fafe;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #3dd6f5;
    padding: 0px 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 1px 1px 15px white;
}

h1 {
    font-size: 60px;
    text-align: center;
}


p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}